html {
  font-family: "roboto";
  background:white;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#logo {
  display: block;
  margin: 3rem auto;
  max-width: 60%;
}
.container{
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.summaryDiv{
  margin: auto;
}
.card,.summaryDiv{
  display: flex;
  height: 10rem;
  flex-direction: column;
  border: 1px solid #E5E5E5;
  background-color:#fcf8f8 ;
  width: 20rem;
  margin-top: 2rem;
  border-radius: 20px;
}
.cardHeader,.sumHeader{
  border: 1px solid blue;
  background-color: blue;
  border-radius: 7px;
  padding-top: .4rem;
  padding-left: 1rem;
  height: 2.5rem;
  color: white;
  text-decoration: underline;
}
.cardBody,.sumBody{
  margin-top:1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right:5rem ;
}
.secondColom,.summaryColom{
  display: flex;
  flex-direction: column;
}
span{
  margin-top: .25rem;
}
.total_cases{
  color: blue;
}
.active_cases{
  color:red;
}
.deaths{
  color: gray;
}
.recoverd{
  color: green;
}